<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/rubiks-cube-simulator/src/io/github/dkaksl/rubiks_cube_simulator/RubiksCubeSimulator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="io.github.dkaksl.rubiks_cube_simulator.RubiksCubeSimulator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="rubiks-cube-simulator"/>
</launchConfiguration>
